{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Новое сообщение{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="author_name">Автор сообщения</label>
    <input name="author_name" id="author_name" value="{{ request.form['author_name'] }}">
    <label for="body">Сообщение</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Добавить это сообщение">
  </form>
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}